In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv("ratings.csv")
ratings_split = pd.DataFrame(ratings["UserId:ItemId"].str.split(':').tolist(),columns = ['UserId','ItemId'])
ratings["UserId"] = ratings_split["UserId"]
ratings["ItemId"] = ratings_split["ItemId"]
ratings.drop(columns="UserId:ItemId", inplace=True)
# ratings.set_index("UserId",inplace=True)
# ratings.head()
ratings.isnull().sum()

Prediction    0
Timestamp     0
UserId        0
ItemId        0
dtype: int64

In [4]:
targets = pd.read_csv("targets.csv")
targets_split = pd.DataFrame(targets["UserId:ItemId"].str.split(':').tolist(),columns=["UserId","ItemId"])
targets["UserId"] = targets_split["UserId"]
targets["ItemId"] = targets_split["ItemId"]
targets.drop(columns="UserId:ItemId", inplace=True)
targets.set_index("UserId",inplace=True)

# targets.head()
targets.isnull().sum()

ItemId    0
dtype: int64

In [5]:
ratings.head()

   Prediction   Timestamp    UserId    ItemId
0           6  1362062307  u0026762  i2171847
1           8  1362062624  u0026502  i0444778
2           6  1362062838  u0004598  i1411238
3           7  1362063503  u0031317  i1496422
4           5  1362063653  u0024257  i0118799

In [6]:
targets.head()

            ItemId
UserId
u0000039  i0060196
u0000039  i0099077
u0000039  i0102926
u0000039  i0109830
u0000039  i0113277

In [10]:
ratings["count_item_apperances"] = ratings.groupby("ItemId")["ItemId"].transform('count')
ratings["count_user_apperances"] = ratings.groupby("UserId")["UserId"].transform('count')
ratings = ratings.loc[(ratings["count_item_apperances"] > 10) | (ratings["ItemId"].isin(targets["ItemId"].unique().tolist()))]
ratings = ratings.loc[(ratings["count_user_apperances"] > 10) | (ratings["UserId"].isin(targets.index.unique().tolist()))]

In [11]:
len(ratings["ItemId"].unique().tolist())

7251

In [12]:
len(targets["ItemId"].unique().tolist())

9698

In [13]:
ratings

,Prediction,Timestamp,UserId,ItemId,count_item_apperances,count_user_apperances
2,6,1362062838,u0004598,i1411238,43,155
3,7,1362063503,u0031317,i1496422,100,52
4,5,1362063653,u0024257,i0118799,102,124
5,4,1362063879,u0024257,i0338013,209,124
7,8,1362064047,u0024257,i0064665,28,124
...,...,...,...,...,...,...
336666,8,1421527966,u0028976,i2179136,143,24
336667,10,1421528061,u0009522,i1187043,111,19
336668,8,1421528114,u0034255,i0166924,55,49
336670,7,1421528203,u0023373,i2084970,352,70
336671,7,1421528215,u0030809,i0102510,12,3

In [14]:
ratings.set_index("UserId",inplace=True)
matrix = pd.DataFrame(index=pd.Index(ratings.index.unique().tolist()))
matrix

Empty DataFrame
Columns: []
Index: [u0004598, u0031317, u0024257, u0029372, u0006099, u0010095, u0017242, u0010520, u0011075, u0023684, u0022913, u0031559, u0023947, u0036706, u0026647, u0025692, u0011389, u0013666, u0019874, u0008425, u0008191, u0013845, u0029934, u0027423, u0011884, u0008999, u0001325, u0026571, u0014255, u0013565, u0023278, u0026015, u0028836, u0035624, u0018277, u0026281, u0029254, u0032369, u0005140, u0038536, u0001649, u0032381, u0035119, u0033596, u0029066, u0009517, u0004257, u0027664, u0010181, u0030753, u0005214, u0017009, u0017279, u0028852, u0025304, u0000669, u0018458, u0021596, u0021072, u0029933, u0036192, u0011304, u0027885, u0037035, u0009240, u0002339, u0037685, u0029898, u0036756, u0007702, u0011339, u0010770, u0021110, u0017837, u0025306, u0002490, u0004381, u0027382, u0023267, u0002372, u0006380, u0022183, u0022092, u0007784, u0038403, u0011726, u0015774, u0000871, u0031610, u0018861, u0033564, u0037597, u0023188, u0035417, u0031314, u0003093, u0027652, u0021487, u0019242, u0017395, ...]

[7401 rows x 0 columns]

In [22]:
import time
start_time = time.time()

for item in ratings["ItemId"].unique().tolist():
    predictions = ratings.loc[ratings["ItemId"] == item]["Prediction"]
    matrix[item] = predictions
# your code
time.time() - start_time

112.70596718788147

In [7]:
# item = "i0060196"
# predictions = ratings.loc[ratings["ItemId"] == item]["Prediction"]
# predictions

UserId
u0007300     9
u0002625    10
u0007301     9
u0022853    10
u0021098    10
            ..
u0018962    10
u0025114     8
u0017978     9
u0015697     9
u0037982    10
Name: Prediction, Length: 125, dtype: int64

In [60]:
# matrix[item] = predictions

In [6]:
ratings["count_item_apperances"] = ratings.groupby("ItemId")["ItemId"].transform('count')

In [7]:
ratings["count_user_apperances"] = ratings.groupby("UserId")["UserId"].transform('count')

In [8]:
ratings = ratings.loc[(ratings["count_item_apperances"] > 10) | (ratings["ItemId"].isin(targets["ItemId"].unique().tolist()))]

In [9]:
ratings = ratings.loc[(ratings["count_user_apperances"] > 10) | (ratings["UserId"].isin(targets["UserId"].unique().tolist()))]

In [15]:
matrix

,i1411238,i1496422,i0118799,i0338013,i0064665,i0884328,i0949731,i0319343,i1068680,i0376994,...,i2937898,i0068575,i2513092,i0086969,i0165361,i2717822,i0102598,i0884732,i3140100,i3093522
u0004598,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0031317,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0024257,NaN,NaN,5.0,4.0,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0029372,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0006099,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6.0,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
u0033172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0003117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0012635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0020391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0026580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN