In [1]:
import pandas as pd
import numpy as np
np.seterr(divide='ignore', invalid='ignore')

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

In [2]:
ratings = pd.read_csv("ratings.csv")
ratings_split = pd.DataFrame(ratings["UserId:ItemId"].str.split(':').tolist(),columns = ['UserId','ItemId'])
ratings["UserId"] = ratings_split["UserId"]
ratings["ItemId"] = ratings_split["ItemId"]
ratings.drop(columns="UserId:ItemId", inplace=True)
# ratings.set_index("UserId",inplace=True)
# ratings.head()
ratings.isnull().sum()

Prediction    0
Timestamp     0
UserId        0
ItemId        0
dtype: int64

In [3]:
targets = pd.read_csv("targets.csv")
targets_split = pd.DataFrame(targets["UserId:ItemId"].str.split(':').tolist(),columns=["UserId","ItemId"])
targets["UserId"] = targets_split["UserId"]
targets["ItemId"] = targets_split["ItemId"]
targets.drop(columns="UserId:ItemId", inplace=True)
targets.set_index("UserId",inplace=True)

# targets.head()
targets.isnull().sum()

ItemId    0
dtype: int64

In [4]:
ratings.head()

   Prediction   Timestamp    UserId    ItemId
0           6  1362062307  u0026762  i2171847
1           8  1362062624  u0026502  i0444778
2           6  1362062838  u0004598  i1411238
3           7  1362063503  u0031317  i1496422
4           5  1362063653  u0024257  i0118799

In [5]:
targets.head()

            ItemId
UserId
u0000039  i0060196
u0000039  i0099077
u0000039  i0102926
u0000039  i0109830
u0000039  i0113277

In [6]:
ratings["count_item_apperances"] = ratings.groupby("ItemId")["ItemId"].transform('count')
ratings["count_user_apperances"] = ratings.groupby("UserId")["UserId"].transform('count')
ratings = ratings.loc[(ratings["count_item_apperances"] > 10) | (ratings["ItemId"].isin(targets["ItemId"].unique().tolist()))]
ratings = ratings.loc[(ratings["count_user_apperances"] > 10) | (ratings["UserId"].isin(targets.index.unique().tolist()))]

In [7]:
len(ratings["ItemId"].unique().tolist())

7266

In [8]:
len(targets["ItemId"].unique().tolist())

9698

In [9]:
ratings

,Prediction,Timestamp,UserId,ItemId,count_item_apperances,count_user_apperances
2,6,1362062838,u0004598,i1411238,43,169
3,7,1362063503,u0031317,i1496422,100,53
4,5,1362063653,u0024257,i0118799,102,176
5,4,1362063879,u0024257,i0338013,209,176
7,8,1362064047,u0024257,i0064665,28,176
...,...,...,...,...,...,...
336666,8,1421527966,u0028976,i2179136,143,25
336667,10,1421528061,u0009522,i1187043,111,20
336668,8,1421528114,u0034255,i0166924,55,49
336670,7,1421528203,u0023373,i2084970,352,72
336671,7,1421528215,u0030809,i0102510,12,3

In [10]:
ratings.set_index("UserId",inplace=True)
matrix = pd.DataFrame(index=pd.Index(ratings.index.unique().tolist()))
matrix

Empty DataFrame
Columns: []
Index: [u0004598, u0031317, u0024257, u0029372, u0006099, u0010095, u0017242, u0010520, u0011075, u0023684, u0022913, u0031559, u0023947, u0036706, u0026647, u0025692, u0011389, u0013666, u0019874, u0008425, u0008191, u0013845, u0029934, u0027423, u0011884, u0008999, u0001325, u0026571, u0014255, u0013565, u0023278, u0026015, u0028836, u0035624, u0018277, u0026281, u0029254, u0032369, u0005140, u0038536, u0001649, u0032381, u0027420, u0035119, u0033596, u0029066, u0009517, u0004257, u0027664, u0010181, u0030753, u0005214, u0017009, u0017279, u0028852, u0025304, u0000669, u0018458, u0021596, u0021072, u0029933, u0036192, u0011304, u0027885, u0037035, u0009240, u0002339, u0037685, u0029898, u0036756, u0007702, u0011339, u0010770, u0021110, u0017837, u0025306, u0002490, u0004381, u0027382, u0023267, u0002372, u0006380, u0022183, u0022092, u0007784, u0038403, u0011726, u0015774, u0000871, u0031610, u0018861, u0033564, u0037597, u0023188, u0035417, u0031314, u0003093, u0027652, u0021487, u0019242, ...]

[7574 rows x 0 columns]

In [11]:
import time
start_time = time.time()

for item in ratings["ItemId"].unique().tolist():
    predictions = ratings.loc[ratings["ItemId"] == item]["Prediction"]
    matrix[item] = predictions
# your code
time.time() - start_time

135.47189688682556

In [12]:
matrix

,i1411238,i1496422,i0118799,i0338013,i0064665,i0884328,i0949731,i0319343,i1068680,i0376994,...,i2937898,i0068575,i2513092,i0086969,i0165361,i2717822,i0102598,i0884732,i3140100,i3093522
u0004598,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0031317,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0024257,NaN,NaN,5.0,4.0,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0029372,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0006099,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6.0,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
u0033172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0003117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0012635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0020391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u0026580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
user_score_mean = matrix.mean(axis=1)
user_score_mean

u0004598    6.270968
u0031317    5.980769
u0024257    5.725806
u0029372    5.209677
u0006099    6.105634
              ...
u0033172    8.000000
u0003117    8.333333
u0012635    8.000000
u0020391    8.000000
u0026580    5.000000
Length: 7574, dtype: float64

In [16]:
matrix = matrix.apply(lambda x : x - x.mean(),axis=1).fillna(0)
matrix

,i1411238,i1496422,i0118799,i0338013,i0064665,i0884328,i0949731,i0319343,i1068680,i0376994,...,i2937898,i0068575,i2513092,i0086969,i0165361,i2717822,i0102598,i0884732,i3140100,i3093522
u0004598,-0.270968,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
u0031317,0.000000,1.019231,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
u0024257,0.000000,0.000000,-0.725806,-1.725806,2.274194,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
u0029372,0.000000,0.000000,0.000000,0.000000,0.000000,1.790323,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
u0006099,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.105634,-0.105634,0.894366,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
u0033172,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
u0003117,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
u0012635,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
u0020391,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
u0026580,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
user_item = matrix.to_numpy()

In [20]:
user_item

array([[-0.27096774,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  1.01923077,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        , -0.72580645, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [21]:
norm = np.reshape(np.linalg.norm(user_item , axis=0), (1,user_item.shape[1]) )
norm

array([[11.04122325, 14.92487564, 13.45074263, ...,  0.87170531,
         0.58247423,  2.07692308]])

In [22]:
norm.shape

(1, 7266)

In [23]:
norm_sum = norm * norm.T # elemem wise multply
norm_sum #divisor da similaridade

array([[121.90861075, 164.78888388, 148.51265225, ...,   9.62469296,
          6.43122797,  22.93177136],
       [164.78888388, 222.75191295, 200.75066113, ...,  13.01009338,
          8.6933554 ,  30.99781864],
       [148.51265225, 200.75066113, 180.92247743, ...,  11.72508381,
          7.83471092,  27.93615778],
       ...,
       [  9.62469296,  13.01009338,  11.72508381, ...,   0.75987015,
          0.50774588,   1.81046488],
       [  6.43122797,   8.6933554 ,   7.83471092, ...,   0.50774588,
          0.33927622,   1.20975416],
       [ 22.93177136,  30.99781864,  27.93615778, ...,   1.81046488,
          1.20975416,   4.31360947]])

In [24]:
item_times_item = user_item.T @ user_item # != m @ m.T
item_times_item

array([[121.90861075,   2.87917146,  -2.82167168, ...,   0.        ,
          0.        ,   0.        ],
       [  2.87917146, 222.75191295,  -1.21804414, ...,   0.        ,
          0.        ,   0.        ],
       [ -2.82167168,  -1.21804414, 180.92247743, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [  0.        ,   0.        ,   0.        , ...,   0.75987015,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.33927622,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   4.31360947]])

In [25]:
similarity = item_times_item/norm_sum
similarity #matriz de similaridades item X item

array([[ 1.        ,  0.01747188, -0.01899954, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.01747188,  1.        , -0.00606745, ...,  0.        ,
         0.        ,  0.        ],
       [-0.01899954, -0.00606745,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  1.        ]])

In [26]:
similarity.shape

(7266, 7266)

In [ ]:
# df = pd.DataFrame(np.random.randint(0,5,size=(4, 5)), columns=list('ABCDE'))
# print (df)
# a=df.to_numpy()
# a*a

In [27]:
item_dict = {}
idx = 0
for item in matrix.columns :
    item_dict[item] = idx
    idx = idx + 1
item_dict

{'i1411238': 0,
 'i1496422': 1,
 'i0118799': 2,
 'i0338013': 3,
 'i0064665': 4,
 'i0884328': 5,
 'i0949731': 6,
 'i0319343': 7,
 'i1068680': 8,
 'i0376994': 9,
 'i1568338': 10,
 'i1127715': 11,
 'i1790885': 12,
 'i0889573': 13,
 'i0265086': 14,
 'i1757746': 15,
 'i0338216': 16,
 'i1371111': 17,
 'i1648179': 18,
 'i1853728': 19,
 'i1351685': 20,
 'i0099685': 21,
 'i1707386': 22,
 'i1606378': 23,
 'i0970179': 24,
 'i0372784': 25,
 'i0468569': 26,
 'i0118843': 27,
 'i0101700': 28,
 'i0112682': 29,
 'i0372824': 30,
 'i0091670': 31,
 'i0087182': 32,
 'i1333125': 33,
 'i0313542': 34,
 'i0825232': 35,
 'i1922777': 36,
 'i1667310': 37,
 'i1308729': 38,
 'i0499549': 39,
 'i0432283': 40,
 'i0875034': 41,
 'i0887912': 42,
 'i1054606': 43,
 'i1055369': 44,
 'i0397892': 45,
 'i1549920': 46,
 'i1010048': 47,
 'i0493464': 48,
 'i0467406': 49,
 'i0145660': 50,
 'i0449088': 51,
 'i0382932': 52,
 'i0408236': 53,
 'i0385752': 54,
 'i0419887': 55,
 'i1907668': 56,
 'i2125666': 57,
 'i1920849': 58,
 'i1772341': 59,
 'i1217613': 60,
 'i1446714': 61,
 'i0019760': 62,
 'i0479968': 63,
 'i2024432': 64,
 'i0482599': 65,
 'i0391198': 66,
 'i0780653': 67,
 'i1790886': 68,
 'i1433822': 69,
 'i0913354': 70,
 'i0762125': 71,
 'i1276104': 72,
 'i1640548': 73,
 'i1045658': 74,
 'i0095765': 75,
 'i1386703': 76,
 'i1245526': 77,
 'i1298649': 78,
 'i1321870': 79,
 'i1904996': 80,
 'i0983213': 81,
 'i0975645': 82,
 'i1454029': 83,
 'i1438173': 84,
 'i0085794': 85,
 'i1024648': 86,
 'i2105044': 87,
 'i0054331': 88,
 'i1277953': 89,
 'i1374992': 90,
 'i1981677': 91,
 'i1446192': 92,
 'i1586265': 93,
 'i1411697': 94,
 'i0903624': 95,
 'i1540128': 96,
 'i0454876': 97,
 'i2091473': 98,
 'i1615147': 99,
 'i1360860': 100,
 'i0343660': 101,
 'i0119396': 102,
 'i0097733': 103,
 'i2023587': 104,
 'i1623288': 105,
 'i0371746': 106,
 'i1748179': 107,
 'i0245429': 108,
 'i1764234': 109,
 'i2177511': 110,
 'i1013753': 111,
 'i1656190': 112,
 'i1441326': 113,
 'i0417148': 114,
 'i0948470': 115,
 'i1795702': 116,
 'i1840417': 117,
 'i1547234': 118,
 'i0118571': 119,
 'i1649419': 120,
 'i1855199': 121,
 'i1212450': 122,
 'i2608224': 123,
 'i1428538': 124,
 'i0093389': 125,
 'i0095631': 126,
 'i0190590': 127,
 'i0302886': 128,
 'i0074958': 129,
 'i0105695': 130,
 'i2109184': 131,
 'i0013427': 132,
 'i0144084': 133,
 'i0335345': 134,
 'i0075314': 135,
 'i1244754': 136,
 'i0817177': 137,
 'i1386932': 138,
 'i0169547': 139,
 'i1182345': 140,
 'i0265349': 141,
 'i1748227': 142,
 'i1859650': 143,
 'i0890885': 144,
 'i0090264': 145,
 'i1117385': 146,
 'i0120586': 147,
 'i0137523': 148,
 'i0111161': 149,
 'i0172495': 150,
 'i0448134': 151,
 'i0111282': 152,
 'i0286716': 153,
 'i0187078': 154,
 'i1602620': 155,
 'i0319061': 156,
 'i1114740': 157,
 'i1763303': 158,
 'i1663321': 159,
 'i0848228': 160,
 'i0443272': 161,
 'i1219289': 162,
 'i1815708': 163,
 'i1792647': 164,
 'i0460791': 165,
 'i0265459': 166,
 'i0882977': 167,
 'i1077368': 168,
 'i1228705': 169,
 'i0800369': 170,
 'i0458339': 171,
 'i0106489': 172,
 'i1013752': 173,
 'i1242432': 174,
 'i0477302': 175,
 'i0095956': 176,
 'i0120689': 177,
 'i0138704': 178,
 'i0381061': 179,
 'i1599348': 180,
 'i1405365': 181,
 'i1560747': 182,
 'i1814836': 183,
 'i0065724': 184,
 'i1659337': 185,
 'i1584016': 186,
 'i1234548': 187,
 'i2034139': 188,
 'i1596350': 189,
 'i1185616': 190,
 'i1334260': 191,
 'i1742336': 192,
 'i0324216': 193,
 'i0274558': 194,
 'i1228987': 195,
 'i0822854': 196,
 'i0110912': 197,
 'i0073486': 198,
 'i0109830': 199,
 'i0114814': 200,
 'i0208092': 201,
 'i0361748': 202,
 'i0118715': 203,
 'i0064115': 204,
 'i0119217': 205,
 'i0469494': 206,
 'i0472062': 207,
 'i0384806': 208,
 'i0840361': 209,
 'i0421715': 210,
 'i0841044': 211,
 'i0327056': 212,
 'i1259521': 213,
 'i1068646': 214,
 'i1049413': 215,
 'i0198781': 216,
 'i0918927': 217,
 'i0031381': 218,
 'i1545759': 219,
 'i1598828': 220,
 'i1838571': 221,
 'i1655442': 222,
 'i1392170': 223,
 'i0067185': 224,
 'i1637725': 225,
 'i1462041': 226,
 'i1673434': 227,
 'i1033575': 228,
 'i0187393': 229,
 'i1194173': 230,
 'i0021884': 231,
 'i1588173': 232,
 'i1306980': 233,
 'i1682180': 234,
 'i1611224': 235,
 'i0110413': 236,
 'i0458525': 237,
 'i0120660': 238,
 'i1176740': 239,
 'i0358082': 240,
 'i0343818': 241,
 'i0243133': 242,
 'i0804461': 243,
 'i0093773': 244,
 'i0480242': 245,
 'i1440129': 246,
 'i0109303': 247,
 'i0079116': 248,
 'i1375666': 249,
 'i0063442': 250,
 'i0120915': 251,
 'i0817230': 252,
 'i1542344': 253,
 'i0088847': 254,
 'i0837562': 255,
 'i0050986': 256,
 'i1212419': 257,
 'i0120265': 258,
 'i2053463': 259,
 'i1706593': 260,
 'i1343727': 261,
 'i1668200': 262,
 'i1435513': 263,
 'i1192628': 264,
 'i0765429': 265,
 'i1067106': 266,
 'i1190080': 267,
 'i1071875': 268,
 'i0259324': 269,
 'i1646980': 270,
 'i1748207': 271,
 'i0356634': 272,
 'i1632708': 273,
 'i1535438': 274,
 'i1645170': 275,
 'i0878804': 276,
 'i0368909': 277,
 'i0407887': 278,
 'i0458352': 279,
 'i0108052': 280,
 'i0443543': 281,
 'i1298650': 282,
 'i1235522': 283,
 'i1242422': 284,
 'i0116367': 285,
 'i1570728': 286,
 'i1436045': 287,
 'i0112818': 288,
 'i0861739': 289,
 'i2014338': 290,
 'i0240772': 291,
 'i0362225': 292,
 'i1074638': 293,
 'i2332522': 294,
 'i1253864': 295,
 'i0113189': 296,
 'i0401729': 297,
 'i1866249': 298,
 'i1989475': 299,
 'i1991245': 300,
 'i1601913': 301,
 'i0388795': 302,
 'i0174856': 303,
 'i0122151': 304,
 'i1860355': 305,
 'i1433108': 306,
 'i2076220': 307,
 'i1318514': 308,
 'i0090859': 309,
 'i1924394': 310,
 'i1578275': 311,
 'i0444653': 312,
 'i0945513': 313,
 'i0337692': 314,
 'i1179891': 315,
 'i0118689': 316,
 'i1334553': 317,
 'i1069238': 318,
 'i0103064': 319,
 'i2125608': 320,
 'i0251160': 321,
 'i1862079': 322,
 'i0875113': 323,
 'i1229238': 324,
 'i0075148': 325,
 'i0824747': 326,
 'i0299658': 327,
 'i0467200': 328,
 'i1527788': 329,
 'i1231587': 330,
 'i0425112': 331,
 'i0032138': 332,
 'i0067927': 333,
 'i1019452': 334,
 'i0062622': 335,
 'i1462757': 336,
 'i0104452': 337,
 'i1748197': 338,
 'i1891757': 339,
 'i0990407': 340,
 'i0350258': 341,
 'i0120591': 342,
 'i1692486': 343,
 'i1756799': 344,
 'i0452623': 345,
 'i1655460': 346,
 'i1222817': 347,
 'i0790724': 348,
 'i1649444': 349,
 'i1971352': 350,
 'i1014759': 351,
 'i0107207': 352,
 'i0107688': 353,
 'i0076759': 354,
 'i1250777': 355,
 'i0120815': 356,
 'i1345836': 357,
 'i0088763': 358,
 'i0435761': 359,
 'i0910970': 360,
 'i0080684': 361,
 'i0112870': 362,
 'i1598778': 363,
 'i1945062': 364,
 'i0096054': 365,
 'i0857190': 366,
 'i0082398': 367,
 'i0120735': 368,
 'i1234719': 369,
 'i0363163': 370,
 'i1990314': 371,
 'i1713476': 372,
 'i0015400': 373,
 'i1899353': 374,
 'i1996264': 375,
 'i1748122': 376,
 'i0101587': 377,
 'i0103939': 378,
 'i0298203': 379,
 'i0032553': 380,
 'i1959332': 381,
 'i1352824': 382,
 'i0489235': 383,
 'i1588334': 384,
 'i1142988': 385,
 'i0280380': 386,
 'i0443680': 387,
 'i2483516': 388,
 'i1055292': 389,
 'i0053125': 390,
 'i0963966': 391,
 'i1833844': 392,
 'i0476964': 393,
 'i0332379': 394,
 'i0814314': 395,
 'i1658837': 396,
 'i1399683': 397,
 'i1637688': 398,
 'i1931533': 399,
 'i0369441': 400,
 'i0119488': 401,
 'i0765443': 402,
 'i1099212': 403,
 'i1735898': 404,
 'i2177843': 405,
 'i2608732': 406,
 'i0416320': 407,
 'i1613750': 408,
 'i0119223': 409,
 'i0277371': 410,
 'i2215285': 411,
 'i2244901': 412,
 'i1047011': 413,
 'i0116778': 414,
 'i0866437': 415,
 'i0488604': 416,
 'i0083658': 417,
 'i0839980': 418,
 'i2129928': 419,
 'i0765446': 420,
 'i1504320': 421,
 'i1142977': 422,
 'i2387433': 423,
 'i0082782': 424,
 'i1781769': 425,
 'i0455323': 426,
 'i0093894': 427,
 'i1591479': 428,
 'i1034303': 429,
 'i0070849': 430,
 'i2226283': 431,
 'i0114369': 432,
 'i1204342': 433,
 'i0065126': 434,
 'i1758830': 435,
 'i1769363': 436,
 'i2053425': 437,
 'i0175880': 438,
 'i0162346': 439,
 'i0376541': 440,
 'i0195685': 441,
 'i0304415': 442,
 'i0125439': 443,
 'i0107798': 444,
 'i0396269': 445,
 'i1606389': 446,
 'i1217209': 447,
 'i1680136': 448,
 'i0765432': 449,
 'i0289879': 450,
 'i0453451': 451,
 'i1424310': 452,
 'i0477080': 453,
 'i0488120': 454,
 'i0347149': 455,
 'i1629757': 456,
 'i0938330': 457,
 'i0805570': 458,
 'i0983193': 459,
 'i1839492': 460,
 'i0055630': 461,
 'i1966604': 462,
 'i0319262': 463,
 'i1996310': 464,
 'i0403508': 465,
 'i1924396': 466,
 'i0349903': 467,
 'i0071807': 468,
 'i0457430': 469,
 'i0485947': 470,
 'i0099088': 471,
 'i2140371': 472,
 'i1129442': 473,
 'i1640459': 474,
 'i1440292': 475,
 'i0964517': 476,
 'i1568346': 477,
 'i1226753': 478,
 'i1132620': 479,
 'i1216487': 480,
 'i0357413': 481,
 'i1343097': 482,
 'i1289406': 483,
 'i0780536': 484,
 'i2088735': 485,
 'i0211915': 486,
 'i1999995': 487,
 'i1702439': 488,
 'i0112579': 489,
 'i0062512': 490,
 'i1478338': 491,
 'i1302011': 492,
 'i0073631': 493,
 'i1683526': 494,
 'i0093870': 495,
 'i0111257': 496,
 'i0105112': 497,
 'i0070034': 498,
 'i0116908': 499,
 'i0107969': 500,
 'i0430105': 501,
 'i0116213': 502,
 'i0309377': 503,
 'i0289043': 504,
 'i2401621': 505,
 'i0120630': 506,
 'i0327084': 507,
 'i0424095': 508,
 'i0120623': 509,
 'i0120587': 510,
 'i0312004': 511,
 'i0351283': 512,
 'i0479952': 513,
 'i0441773': 514,
 'i0844471': 515,
 'i0307453': 516,
 'i0095953': 517,
 'i1259571': 518,
 'i0099487': 519,
 'i0111503': 520,
 'i0386588': 521,
 'i0332452': 522,
 'i0183790': 523,
 'i0092099': 524,
 'i0099371': 525,
 'i0102798': 526,
 'i0985694': 527,
 'i1397280': 528,
 'i1032755': 529,
 'i1440728': 530,
 'i0046912': 531,
 'i1623205': 532,
 'i0467197': 533,
 'i0088930': 534,
 'i0154420': 535,
 'i0107362': 536,
 'i0378194': 537,
 'i0120667': 538,
 'i0413300': 539,
 'i0151804': 540,
 'i0316654': 541,
 'i0448157': 542,
 'i1645155': 543,
 'i1764183': 544,
 'i1235124': 545,
 'i0758774': 546,
 'i0266308': 547,
 'i1401152': 548,
 'i0489099': 549,
 'i0315733': 550,
 'i0180093': 551,
 'i1175506': 552,
 'i1663143': 553,
 'i0896534': 554,
 'i0047296': 555,
 'i0804516': 556,
 'i0266452': 557,
 'i0425123': 558,
 'i1136608': 559,
 'i1823059': 560,
 'i0808151': 561,
 'i0094291': 562,
 'i1226774': 563,
 'i0810784': 564,
 'i0448011': 565,
 'i0814335': 566,
 'i0119173': 567,
 'i0999913': 568,
 'i1172233': 569,
 'i2229842': 570,
 'i1691154': 571,
 'i0339291': 572,
 'i0094608': 573,
 'i0480271': 574,
 'i0380510': 575,
 'i0061722': 576,
 'i1230414': 577,
 'i0486946': 578,
 'i0020629': 579,
 'i1016075': 580,
 'i2070597': 581,
 'i0452694': 582,
 'i0120885': 583,
 'i0068646': 584,
 'i1457765': 585,
 'i2083383': 586,
 'i0852713': 587,
 'i1119646': 588,
 'i0409847': 589,
 'i0429493': 590,
 'i1591095': 591,
 'i0185937': 592,
 'i1409024': 593,
 'i0385726': 594,
 'i0375912': 595,
 'i1272886': 596,
 'i0093260': 597,
 'i1682181': 598,
 'i1323594': 599,
 'i1797504': 600,
 'i2130321': 601,
 'i0120655': 602,
 'i1600524': 603,
 'i1687901': 604,
 'i0090670': 605,
 'i1655420': 606,
 'i1735485': 607,
 'i1767382': 608,
 'i2125435': 609,
 'i0408790': 610,
 'i0398165': 611,
 'i1636826': 612,
 'i1800741': 613,
 'i0462590': 614,
 'i1193631': 615,
 'i1320244': 616,
 'i1711425': 617,
 'i1564367': 618,
 'i1987018': 619,
 'i1320253': 620,
 'i0070511': 621,
 'i0092074': 622,
 'i0410097': 623,
 'i0936501': 624,
 'i0242653': 625,
 'i0449487': 626,
 'i0309698': 627,
 'i1297919': 628,
 'i0343135': 629,
 'i1194417': 630,
 'i0077416': 631,
 'i0096754': 632,
 'i0120201': 633,
 'i1606392': 634,
 'i0390384': 635,
 'i0051207': 636,
 'i0217505': 637,
 'i1399103': 638,
 'i0113627': 639,
 'i0104187': 640,
 'i0076786': 641,
 'i0923600': 642,
 'i1111422': 643,
 'i0097757': 644,
 'i0081505': 645,
 'i0102181': 646,
 'i0113101': 647,
 'i0119164': 648,
 'i0054215': 649,
 'i1017451': 650,
 'i0405422': 651,
 'i0271668': 652,
 'i1093357': 653,
 'i1764651': 654,
 'i0138097': 655,
 'i0993842': 656,
 'i0098282': 657,
 'i0452637': 658,
 'i0234215': 659,
 'i1524137': 660,
 'i0112573': 661,
 'i0113409': 662,
 'i0060315': 663,
 'i2059255': 664,
 'i0782700': 665,
 'i1187064': 666,
 'i0375679': 667,
 'i1397514': 668,
 'i0247638': 669,
 'i1734433': 670,
 'i0036775': 671,
 'i0120903': 672,
 'i0058777': 673,
 'i0290334': 674,
 'i2306745': 675,
 'i0338751': 676,
 'i0457939': 677,
 'i0027977': 678,
 'i0308644': 679,
 'i0038109': 680,
 'i1657507': 681,
 'i0386117': 682,
 'i1707392': 683,
 'i0398286': 684,
 'i0091431': 685,
 'i0278504': 686,
 'i0119177': 687,
 'i1694020': 688,
 'i0944835': 689,
 'i1243957': 690,
 'i0450385': 691,
 'i0843302': 692,
 'i0301357': 693,
 'i1035736': 694,
 'i0455407': 695,
 'i1273207': 696,
 'i1231583': 697,
 'i1462769': 698,
 'i0104427': 699,
 'i0086393': 700,
 'i2220642': 701,
 'i1477715': 702,
 'i0119167': 703,
 'i0280486': 704,
 'i0117723': 705,
 'i0478087': 706,
 'i0763831': 707,
 'i0810913': 708,
 'i0410297': 709,
 'i1596365': 710,
 'i0244244': 711,
 'i1270262': 712,
 'i0416508': 713,
 'i1659343': 714,
 'i0486655': 715,
 'i0446029': 716,
 'i1602472': 717,
 'i1854513': 718,
 'i0361089': 719,
 'i1366344': 720,
 'i1605783': 721,
 'i0113492': 722,
 'i0480025': 723,
 'i1712170': 724,
 'i0285823': 725,
 'i2125423': 726,
 'i1455151': 727,
 'i1703148': 728,
 'i0800320': 729,
 'i0103060': 730,
 'i0047396': 731,
 'i1596343': 732,
 'i0057076': 733,
 'i1013743': 734,
 'i0099348': 735,
 'i1528734': 736,
 'i0230600': 737,
 'i0356618': 738,
 'i0116996': 739,
 'i0277027': 740,
 'i0398913': 741,
 'i1915581': 742,
 'i1791614': 743,
 'i0424136': 744,
 'i0209163': 745,
 'i1366365': 746,
 'i0373051': 747,
 'i0420294': 748,
 'i0486583': 749,
 'i0215750': 750,
 'i0393109': 751,
 'i1847731': 752,
 'i0242423': 753,
 'i1181614': 754,
 'i0780504': 755,
 'i0146882': 756,
 'i2213054': 757,
 'i0276751': 758,
 'i1529572': 759,
 'i0418819': 760,
 'i1183911': 761,
 'i0245674': 762,
 'i1197624': 763,
 'i0795351': 764,
 'i1068242': 765,
 'i0399295': 766,
 'i1386588': 767,
 'i0887883': 768,
 'i1226229': 769,
 'i1532503': 770,
 'i0981227': 771,
 'i0118971': 772,
 'i0050212': 773,
 'i1515091': 774,
 'i2040560': 775,
 'i1441952': 776,
 'i1121931': 777,
 'i1219342': 778,
 'i0375063': 779,
 'i0059800': 780,
 'i0097965': 781,
 'i1262416': 782,
 'i0338564': 783,
 'i0112864': 784,
 'i1456635': 785,
 'i0037101': 786,
 'i0480255': 787,
 'i1615065': 788,
 'i1499658': 789,
 'i1632547': 790,
 'i0366551': 791,
 'i1305806': 792,
 'i0088944': 793,
 'i0089530': 794,
 'i0053946': 795,
 'i1389096': 796,
 'i1258972': 797,
 'i1307068': 798,
 'i1270798': 799,
 'i1448755': 800,
 'i0084787': 801,
 'i0349683': 802,
 'i1368491': 803,
 'i0985699': 804,
 'i1242460': 805,
 'i1559547': 806,
 'i0976051': 807,
 'i0093171': 808,
 'i0120338': 809,
 'i0160862': 810,
 'i1990181': 811,
 'i0401445': 812,
 'i1233227': 813,
 'i1412386': 814,
 'i0053198': 815,
 'i0023969': 816,
 'i1992258': 817,
 'i1179034': 818,
 'i1675434': 819,
 'i1424432': 820,
 'i1566648': 821,
 'i0056983': 822,
 'i1327194': 823,
 'i0110771': 824,
 'i0056217': 825,
 'i0257106': 826,
 'i1124035': 827,
 'i0097165': 828,
 'i0248667': 829,
 'i0325710': 830,
 'i0145681': 831,
 'i0409459': 832,
 'i0116126': 833,
 'i0349710': 834,
 'i1740707': 835,
 'i0139654': 836,
 'i0892769': 837,
 'i0795421': 838,
 'i0121766': 839,
 'i0418689': 840,
 'i1714210': 841,
 'i0118880': 842,
 'i0362227': 843,
 'i1723811': 844,
 'i1582507': 845,
 'i1855325': 846,
 'i0496806': 847,
 'i1598822': 848,
 'i0093437': 849,
 'i0083907': 850,
 'i0373469': 851,
 'i1726669': 852,
 'i0947798': 853,
 'i0087928': 854,
 'i0443706': 855,
 'i2649128': 856,
 'i0091777': 857,
 'i0093756': 858,
 'i2083379': 859,
 'i0455590': 860,
 'i0095882': 861,
 'i0098105': 862,
 'i2388725': 863,
 'i0114746': 864,
 'i0047811': 865,
 'i0317740': 866,
 'i0365748': 867,
 'i0015324': 868,
 'i1912398': 869,
 'i1549572': 870,
 'i0473444': 871,
 'i1506999': 872,
 'i1787988': 873,
 'i0299977': 874,
 'i0117500': 875,
 'i1482459': 876,
 'i0212720': 877,
 'i2287675': 878,
 'i1810697': 879,
 'i0068408': 880,
 'i1477076': 881,
 'i0118749': 882,
 'i0058182': 883,
 'i0345950': 884,
 'i0914798': 885,
 'i2077851': 886,
 'i0089155': 887,
 'i1232200': 888,
 'i1567609': 889,
 'i1568911': 890,
 'i0175142': 891,
 'i1486192': 892,
 'i0111301': 893,
 'i0162650': 894,
 'i0095159': 895,
 'i0251127': 896,
 'i0131369': 897,
 'i0431021': 898,
 'i0117913': 899,
 'i1164999': 900,
 'i0096969': 901,
 'i0845046': 902,
 'i0128442': 903,
 'i1906426': 904,
 'i1133985': 905,
 'i0372588': 906,
 'i0112442': 907,
 'i0172156': 908,
 'i0266543': 909,
 'i0258463': 910,
 'i0145487': 911,
 'i0372183': 912,
 'i0440963': 913,
 'i0272338': 914,
 'i0415306': 915,
 'i0351977': 916,
 'i0079417': 917,
 'i0289992': 918,
 'i1291584': 919,
 'i0335438': 920,
 'i0377818': 921,
 'i0800039': 922,
 'i0082971': 923,
 'i1216475': 924,
 'i0209144': 925,
 'i1870425': 926,
 'i0486576': 927,
 'i0086190': 928,
 'i1112782': 929,
 'i0077742': 930,
 'i1470827': 931,
 'i0466893': 932,
 'i1650062': 933,
 'i0285742': 934,
 'i0448694': 935,
 'i1727252': 936,
 'i1226273': 937,
 'i0133093': 938,
 'i0373883': 939,
 'i0167190': 940,
 'i0090605': 941,
 'i0078748': 942,
 'i0206634': 943,
 'i0416449': 944,
 'i1313092': 945,
 'i0106912': 946,
 'i1125849': 947,
 'i0989757': 948,
 'i1185416': 949,
 'i0026752': 950,
 'i0795368': 951,
 'i0104181': 952,
 'i1294226': 953,
 'i1174732': 954,
 'i0780521': 955,
 'i1216492': 956,
 'i0032976': 957,
 'i1057500': 958,
 'i0034583': 959,
 'i0473075': 960,
 'i0815236': 961,
 'i0892791': 962,
 'i1403981': 963,
 'i1155076': 964,
 'i0473705': 965,
 'i1470023': 966,
 'i1666186': 967,
 'i0131857': 968,
 'i0445934': 969,
 'i0420223': 970,
 'i0218967': 971,
 'i0106977': 972,
 'i1067774': 973,
 'i1067583': 974,
 'i0097814': 975,
 'i1555064': 976,
 'i0117398': 977,
 'i2178941': 978,
 'i0366627': 979,
 'i0112697': 980,
 'i1555149': 981,
 'i0120663': 982,
 'i1095217': 983,
 'i0080761': 984,
 'i0102685': 985,
 'i0770703': 986,
 'i0115759': 987,
 'i1232829': 988,
 'i1733105': 989,
 'i0052893': 990,
 'i0118842': 991,
 'i0106677': 992,
 'i0118928': 993,
 'i0120890': 994,
 'i0164052': 995,
 'i0087538': 996,
 'i0479143': 997,
 'i0119822': 998,
 'i0356470': 999,
 ...}

In [28]:
similarity[item_dict['i1411238']][item_dict['i1496422']]

0.01747187909392153